.container {
  max-width: 1110px;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}

.bd-container {
  max-width: 1100px;
  margin-left: 2rem;
  margin-right: 2rem;
}

.bd-grid {
  display: grid;
  gap: 1.5rem;
}
