:root {
  --tittle-font: 'Poppins', sans-serif;
  --paragraphy-font: 'Roboto', sans-serif;
  --big-font-size: 2.5rem;
  --normal-font-size: 0.875rem;

  --font-regular: 400;
  --font-medium: 500;
  --font-semi-bold: 600;
}

@media screen and (min-width: 768px) {
  :root {
    --big-font-size: 4rem;
    --normal-font-size: 1rem;
  }
}
