.produts_container {
  margin-top: 100px;
  justify-content: center;
}

.produts_data {
  max-width: 340px;
}

.produts_title {
  margin-top: 40px;
  text-align: center;
  color: var(--title-color);
  font-family: var(--tittle-font);
  font-weight: var(--font-semi-bold);
  font-size: var(--title-font-size);
  position: relative;
}

.produts_title::after {
  content: '';
  display: block;
  position: absolute;
  width: 200px;
  height: 200px;
  top: -30px;
  left: -60px;
  background-image: url('../../img/decoration/rectangle.svg');
}

.produts_title_2 {
  color: var(--primary-color);
}

.produts_subtitle {
  text-align: center;
  margin-bottom: 50px;
  font-size: var(--normal-font-size);
  font-family: var(--paragraphy-font);
  font-weight: var(--font-regular);
  color: var(--paragraphy-color-light);
}

.produts_list_container {
  display: flex;
  gap: 60px;
  overflow-x: auto;
  height: 370px;
}

.produts_list {
  background: rgba(164, 164, 164, 0.15);
  border: 1px solid #cccccc;
  box-sizing: border-box;
  backdrop-filter: blur(56px);
  border-radius: 25px;
  max-width: 231px;
  height: 305px;
}

.produts_img {
  top: -61px;
  left: -21px;
  max-width: 269px;
  position: relative;
}

.produts_list_title {
  font-family: var(--tittle-font);
  font-weight: 600;
  font-size: 16px;
  margin-left: 32px;
  color: var(--title-color);
  position: relative;
  top: -120px;
}

.produts_evaluation {
  display: flex;
  gap: 0px;
  margin-top: 10px;
  margin-left: 29px;
  top: -120px;
  position: relative;
}

.produts_evaluation_title {
  margin-left: 5px;
}

.produts_value {
  margin-left: 32px;
  font-family: var(--tittle-font);
  font-weight: 600;
  font-size: 16px;
  color: var(--paragraphy-color-light);
  position: relative;
  top: -100px;
}

.produts_buy {
  display: flex;
  flex-flow: row-reverse;
  position: relative;
  top: -94px;
}

.produts_buy_img {
  position: relative;
  top: -29px;
}

.produts_button {
  position: relative;
  left: 53px;
  top: -16px;
  font-size: 38px;
  color: var(--white-color);
}

@media screen and (min-width: 767px) {
  .produts_list_container {
    overflow-x: hidden;
    overflow: hidden;
  }
  .produts_data {
    max-width: 973px;
  }
  .produts_list {
    max-width: 270px;
    height: 375px;
  }
  .produts_img {
    top: -61px;
    left: -28px;
    max-width: 569px;
  }
}

@media screen and (min-width: 1110px) {
  .bd-container {
    margin-left: auto;
    margin-right: auto;
  }
}
